
*{
  padding: 0;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list-parent{
  width: 100%;
}

.book-list{
  background-color: lightgrey;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*revient a la ligne*/
  justify-content: center;
  align-items: center;
}

.book{
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.book h2{
  font-size: 1.4em;
}

button{
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid black;
  font-weight: bold;

  &:hover{
    background-color: grey;
    color: white;
    transition: 0.2s;
  }
}
